.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}
/* .form__container{
  border: 1px solid red;
} */
input[type="text"] {
  border: solid 1px #605DC8;
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
  outline: none;

  &:focus{
    box-shadow: 2px 2px 2px #615dc8a9;
  }
}
button {
  padding: 10px;
  border: solid 1px #605DC8;
  background: #605DC8;
  color: white;
  border-radius: 8px;
  cursor: pointer;

  &:hover{
    background: #504cc7;
    box-shadow: 2px 2px 2px #615dc8a9;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }   
}
@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }    
}